EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8789

EXPO_PUBLIC_GOOGLE_CLIENT_ID_IOS=your-ios-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_ANDROID=your-android-client-id.apps.googleusercontent.com

EXPO_PUBLIC_GOOGLE_OAUTH_IOS_SCHEME=com.googleusercontent.apps.your-ios-client-id
